@model string

<table style="width:70%; margin-left: 150px; ">
    <tr>
        <th>Key</th>
        <th>Token</th>
    </tr>
    <tr>
        <td>Server Key</td>
        <td>
            @if (@Model.Equals(""))
            {
                <p></p>
            } else
            {
                @Model
            }
        </td>
    </tr>
</table>