@model User

<div class="container js-instance">
    <div class="flex-styling">
        <div class="card-styling">
            <div class="form-style">
                <div>
                    <h2>Profile information</h2>
                    <div class="text-styling"> Email:  </div><br>
                    <h5>@Model.Email</h5>
                </div>

            </div>
        </div>
    </div>
</div>
